.registration-form{
    background: linear-gradient(45deg,blueviolet,deeppink);
    color: cornsilk;
    width: 300px;
    margin: 80px auto;
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
    
}

.registration-form h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.form-group label{
    display: block;
    margin: 5px 0;
}

.form-control{
    margin: 5px 0;
    padding: 5px 0;
    width: 280px;
    outline: none;
    border:none;
}

.form-control:focus{
    background-color: pink;
}

.register-btn{
    background: linear-gradient(45deg,blueviolet,deeppink);
    margin: 15px 0;
    padding: 5px 0;
    width: 280px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
    color:cornsilk;
    font-size: 18px;
}

.fa-user-circle{
    font-size: 100px;
    display: block;
    text-align: center;
    margin: auto;
    border: 10px solid deeppink;
    width: 100px;
    height: 100px;
    margin-top: -70px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    background: deeppink;
}